//防止没有直接在目录中显示的链接会有缩进
aside.sidebar > ul > li > a.sidebar-link {
  padding-left: 1.25rem;
}
aside.sidebar > ul > li ul>li>a.sidebar-link {
  padding-left 2rem;
}
//调整顶级目录之间的距离
aside.sidebar > ul.sidebar-links > li:not(:first-child) {
  margin-top: 0;
}

//调整顶级目录之间的距离
aside.sidebar > ul.sidebar-links p, a {
  line-height: 1.5;
}

//调整标题

main.page h6 {
  font-size: 1.1rem;
  font-weight bold;
}

main.page h5 {
  font-size: 1.2rem;
}

main.page h4 {
  font-size: 1.3rem;
}

main.page h3 {
  font-size: 1.4rem;
}

main.page h2 {
  font-size: 1.5rem;
}